
/* Main */

	#main {
		@include vendor('flex-grow', '1');
		@include vendor('flex-shrink', '1');
		@include vendor('display', 'flex');
		@include vendor('align-items', 'center');
		@include vendor('justify-content', 'center');
		@include vendor('flex-direction', 'column');
		position: relative;
		max-width: 100%;
		z-index: 3;
		display: none;

		& p {
			text-align: center;
		}

		article {
			@include vendor('transform', 'translateY(0.25rem)');
			@include vendor('transition', (
				'opacity #{_duration(article)} ease-in-out',
				'transform #{_duration(article)} ease-in-out'
			));
			@include padding(2.5rem, 2.5rem, (2rem, 0, 1rem, 0));
			position: relative;
			width: 40rem;
			max-width: 100%;
			background-color: transparentize(_palette(bg), 0.15);
			border-radius: _size(border-radius);
			opacity: 0;

			&.timeout {
				display: none;
			}

			&.active.timeout {
				@include vendor('transform', 'translateY(0)');
				opacity: 1;
			}

			&.active {
				display: block !important;
				font-size: 0.8em;
				font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
				font-weight: 500;
				color: #dfdfdf;
			}

			.close {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 4rem;
				height: 4rem;
				cursor: pointer;
				text-indent: 4rem;
				overflow: hidden;
				white-space: nowrap;
				box-shadow: none !important;

				&:before {
					@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
					content: '';
					display: block;
					position: absolute;
					top: 0.75rem;
					left: 0.75rem;
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 100%;
					background-position: center;
					background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" zoomAndPan="disable"><style>line { stroke: #{_palette(border)}; stroke-width: 1; }</style><line x1="2" y1="2" x2="18" y2="18" /><line x1="18" y1="2" x2="2" y2="18" /></svg>');
					background-size: 20px 20px;
					background-repeat: no-repeat;
				}

				&:hover {
					background-color: rgba(255, 255, 255, 0) !important;

					&:before {
						background-color: _palette(border-bg);
					}
				}

				&:active {

					&:before {
						background-color: _palette(border-bg-alt);
					}
				}
			}

			.discography {
				margin: 1rem !important;
			}

			.artworks {
				width: 100%;
				margin-top: -20px;
				display:flex;
				flex-wrap: wrap;
				align-items: flex-start;

				& .card {
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-top: 2rem;

					@include breakpoint(small) {
						width: 100%;
						margin-bottom: 2rem;
						}

					& .artwork {
						width: 243px;
						height: 243px;
					}

					& .type {
						font-size: 1.5em;
						font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
						font-weight: 400;
						color: #999999;
						margin: -5px 0 0 0 !important;
					}

					& .day {
						font-size: 1em;
						margin: 10px 0 0 0 !important;
					}

					& .label {
						font-size: 2.4em;
						font-family:Georgia, 'Times New Roman', Times, serif;
						font-weight: 500;
						color: #ffffff;
						margin: -10px 0 0 0 !important;
					}

					& .description {
						width: 80%;
						text-align: left;

						@include breakpoint(small) {
						text-align: center;
						margin-left: 0 !important;
							}
					}
				}
			}
		}

		@include breakpoint(small) {
			article {
				@include padding(2rem, 2rem, (1.5rem, 0, 1.5rem, 0));
				.close {
					&:before {
						top: 0.875rem;
						left: 0.875rem;
						width: 2.25rem;
						height: 2.25rem;
						background-size: 14px 14px;
					}
				}
			}
		}

		@include breakpoint(xsmall) {
			article {
				@include padding(2rem, 1.5rem, (1rem, 0, 0.5rem, 0));
			}
		}
	}

	/* Youtube埋め込みレスポンシブ */
.responsive-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9のアスペクト比 */
  height: 0;
}

.responsive-iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* Galleryスライドショーのボタン周り */
.yarl__button{
		display: flex;
    justify-content: center;
    align-items: center;
		background-color: rgb(255 255 255 / 0%) !important;
		box-shadow: none !important;
}

/* Galleryスライドショーの大きさ等のスタイル */

.yarl__root {
		width: 640px;
    height: 820px;
		top: 50% !important;
		left: 50% !important;
		right: none !important;
		transform: translate(-50%, -50%);

		@include breakpoint(small) {
		max-width: 100%;
		width: 40rem;
    height: 650px;
		}
}

.description-lines {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 10%;
	font-size: 1.2em;
	position: relative;
	margin: 0.5rem 0 0 0;

	&__list {
		display: flex;
	}

	&__border {
		width: 100%;
		padding-top: 0.3rem;
		height: 1px;
			border-bottom: #414141 1px solid;
		}

	& svg {
		width: 28px;
		position: absolute;
		right: 0;
		transform: translateY(0.1rem);

		@include breakpoint(small) {
		transform: translateY(-0.1rem);
		}
	}
}